<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
    <table class="board">
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
    </table>
  </body>
</html>