<!DOCTYPE HTML>

<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="player_one">
      <p> Player 1: Human</p>
      <p>X</p>
    </div>

    <div class = "player_two">
      <p> Player 2: Computer</p>
      <p>O</p>
    </div>
    
    <table class="board">
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
    </table>
  </body>
</html>