<!DOCTYPE HTML>

<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="player_one">
      <p> Player 1: Human</p>
      <p>X</p>
    </div>

    <div class = "player_two">
      <p> Player 2: Computer</p>
      <p>O</p>
    </div>
    
    <table class="board">
      <tr>
        <td><div id="0" class="square" ></div></td>
        <td><div id="1" class="square" ></div></td>
        <td><div id="2" class="square" ></div></td>
      </tr>
      <tr>
        <td><div id="3" class="square" ></div></td>
        <td><div id="4" class="square" ></div></td>
        <td><div id="5" class="square" ></div></td>
      </tr>
      <tr>
        <td><div id="6" class="square" ></div></td>
        <td><div id="7" class="square" ></div></td>
        <td><div id="8" class="square" ></div></td>
      </tr>
    </table>
  </body>
</html>