<!DOCTYPE HTML>

<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1 class ="text">Player 1 Goes First.  Good Luck!<h1/>

    <table class="board">
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
      <tr>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
        <td><div class="square" ></div></td>
      </tr>
    </table>
  </body>
</html>