<!DOCTYPE HTML>
<form method="post" action="/play">
<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="player2_game_piece.js" type="text/javascript"></script>
  </head>
  <body>
    <div class ="monday">
      <h2>Monday:</h2>
      <select class="button">
        <option value="lily">Lily</option>
        <option value="sam">Sam</option>
      </select>
      <div>
        <select id="monday_chores" class="button">
          <option value="Dishes">X</option>
          <option value="Toys">O</option>
        </select>
      </div>
    </div>

    <div class = "Tuesday">
      <h2>Tuesday</h2>
      <select class="button">
        <option value="lily">Lily</option>
        <option value="sam">Sam</option>
      </select>
      <div>
        <select id="tuesday_chores" class="button">
          <option value="Dishes">X</option>
          <option value="Toys">O</option>
        </select>
      </div>
    </div>

    <div>
      <center>
        <a href="/play"><button type=button class="start_button">Start</option>
      </center>
    </div>
  </body>
</html>