<!DOCTYPE HTML>
<form method="post" action="/play">
<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
    <h1>
      <center>
        Welcome to Tic Tac Toe! Select Opponent:
      </center>
  </head>
  <body>
    <h2>Player 1:</h2>
    <select>
      <option value="human">Human</option>
      <option value="ai">AI</option>
    </select>

    <h2>Player 2:</h2>
    <select>
      <option value="human">Human</option>
      <option value="ai">AI</option>
    </select>
  </body>
</html>