<!DOCTYPE HTML>
<form method="post" action="/play">
<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
    <h1>
      <center>
        Welcome to Tic Tac Toe! Select Opponent:
      </center>
    </h1>
  </head>
  <body>
    <center>
      <button type="submit" class="button">Human</button>
      <button type="submit" class = "button">AI</button>
    </center>
  </body>
</html>