<!DOCTYPE HTML>
<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="game_piece_selection.js" type="text/javascript"></script>
  </head>
  <body>
    <div class ="player_one">
      <h2>Player 1:</h2>
      <select class="button">
        <option value="human">Human</option>
        <option value="ai">AI</option>
      </select>
      <div>
        <select id="player_one_piece" class="button">
          <option value="X">X</option>
          <option value="O">O</option>
        </select>

        <form method="post" action="/new_game">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="player_one_game_piece" value="player_game_piece">  
          <input type="submit" value="Start">  
        </form> 
      </div>
    </div>

    <div class = "player_two">
      <h2>Player 2:</h2>
      <select class="button">
        <option value="human">Human</option>
        <option value="ai">AI</option>
      </select>
      <div>
        <select id="player_two_piece" class="button">
          <option value="O">O</option>
          <option value="X">X</option>
        </select>
      </div>
    </div>

    <div>
      <center>
        <a href="/play"><button type=button class="start_button">Start</option>
      </center>
    </div>
  </body>
</html>