<!DOCTYPE HTML>
<form method="post" action="/play">
<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="player2_game_piece.js" type="text/javascript"></script>
  </head>
  <body>
    <div class ="player_one">
      <h2>Player 1:</h2>
      <select class="button">
        <option value="human">Human</option>
        <option value="ai">AI</option>
      </select>
      <div>
        <select id="player1_game_piece" class="button">
          <option value="X">X</option>
          <option value="O">O</option>
        </select>
      </div>
    </div>

    <div class = "player_two">
      <h2>Player 2:</h2>
      <select class="button">
        <option value="human">Human</option>
        <option value="ai">AI</option>
      </select>
      <div>
        <select id="player2_game_piece" class="button">
          <option value="O">O</option>
          <option value="X">X</option>
        </select>
      </div>
    </div>

    <div>
      <center>
        <a href="/play"><button type=button class="start_button">Start</option>
      </center>
    </div>
  </body>
</html>