.square {
  background: red;
  border: 2px solid #aaaaaa;
  float: left;
  height: 80px;
  margin: 5px 0 0 5px;
  padding: 10px;
  width: 80px;
}

.board {
  list-style: none;
  margin: 0 auto;
  width: 327px;
  padding: 0;
  /*padding-top:150px;
  padding-bottom:25px;
  padding-left:270px;*/
}

.button {
  width: 80px;
  height: 80px;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background-color:#3d94f6;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style: oblique;
}

.start_button{
  text-align: middle;
  bottom: 0;
  position: absolute;
  width: 100px;
  height: 80px;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background-color:#3d94f6;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  font-style: oblique;  
}

.text {
  text-align: center
}

.player_one {
  float: left
  font-size:25px;
}

.player_two {
  float: right;
  font-size:25px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}